<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="container mat-elevation-z8">
    <div class="center">
        <button color="primary" mat-raised-button (click)="openAddDialog()">Add New Item</button>
    </div>
    <br>
    <mat-paginator [length]="30" [pageSize]="30" (page)="setData($event)"></mat-paginator>
    <mat-table #table [dataSource]="dataSource" class="table" matSort matSortActive="id" matSortDirection="asc">
        <!--Source Column -->
        <ng-container matColumnDef="source">
            <mat-header-cell *matHeaderCellDef>Bill No.
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.BillNo }} </mat-cell>
        </ng-container>

        <!-- Title Column-->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Biller</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Amount
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.amount }} </mat-cell>
        </ng-container>

        <!--Action Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div class="row">
                    <a href=''><button color="accent" mat-button>View</button></a>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row ; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>